<!-- start custom footer snippets -->

  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-6 text-muted">

        <p>&copy; 2021 Brunella D'Anzi</p>

      </div>
      <div class="col-sm-1">
        <!-- Social professional networking icons -->
        <ul class="social-icons pull-right">
          <a href="https://www.linkedin.com/in/brunella-d-anzi/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
        </ul>

      </div>
    </div>
  </div>
<!-- jQuery Javascript Library -->
<!-- end custom footer snippets -->
